
@{
    ViewBag.Title = "_CustomLayout";
}

<h2>This is layout</h2>
<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>
<div class="body-content">
    @RenderBody()
</div>
<div class="panel-footer">
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    @RenderSection("scripts", required: false)
</div>

