
@{
    ViewBag.Title = "Register";

}

@*@Html.Partial("_Header")

<h2>Register</h2>
<p> username: @ViewBag.username</p>
<p> fullname: @ViewBag.fullname</p>
<p> email: @ViewBag.email</p>*@

@{
    var heading = "Using variables";
    string greeting = "Welcome ASP.NET MVC Application";
    int num = 103;
    DateTime today = DateTime.Today;
}
    <h3>@heading</h3>
    <p>@greeting</p>
    <p>@num</p>
    <p>@today</p>






