
@{
    ViewBag.Title = "UserForm";
}

<h2>UserForm With UserController</h2>
<p>Username: @ViewBag.username</p>
<p>Fullname: @ViewBag.fullname</p>
<p>Fullname by ViewData: @ViewData["fullname"]</p>
<p>Email: @ViewBag.email</p>

<p>Name: @ViewData["name_of_user"]</p>

<p>Time1 @ViewBag.CurrentTime.ToString("MM/dd/yyyy")</p>

<p>Name By ViewBag: @ViewBag.name_of_user</p>
