@model IEnumerable<T1807E_HelloMVC.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <form method="post" action="/Customers/Index">
        Age <input type="number" name="age" value="@ViewBag.Age" />
        Keyword <input type="text" name="keyword" value="@ViewBag.Keyword" />
        <input type="submit" value="Search">
    </form>
    
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<button id="btn-toggle">Show and hide</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfirmPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td class="full-name">
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

</table>
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Custom/test.js")"></script>
}
